@import "../css/normalize.css";
html {
  font-size: 62.5%;
}
body {
  color: #444444;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}
a {
  color: #444444;
  text-decoration: underline;
}
a:hover {
  color: #3464eb;
}
