@import "../css/normalize.css";
html {
  font-size: 62.5%;
}
body {
  color: #444444;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}
a {
  color: #444444;
  text-decoration: underline;
}
a:hover {
  color: #3464eb;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1rem;
}
/* Buttons */
.btn {
  background-color: white;
  border-radius: 0.5rem;
  color: #444444;
  text-decoration: none;
  line-height: 4rem;
  padding: 0 2rem;
  transition: background-color 0.4s ease;
}
.btn:hover {
  background-color: #e6e6e6;
  color: #444444;
}
header {
  margin-bottom: 3rem;
  border-bottom: 1px solid #dddddd;
}
header nav {
  display: flex;
  flex-direction: column;
}
header nav a {
  line-height: 6rem;
  text-decoration: none;
  text-align: center;
}
header nav a.active {
  font-weight: bold;
}
#cta {
  background-image: url("../assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 3rem;
}
#cta h2 {
  text-align: center;
}
#artist {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-top: 1px solid #dddddd;
}
@media (min-width: 768px) {
  #artist {
    flex-direction: row;
    justify-content: space-between;
  }
  #artist .artist-item {
    width: 45%;
    margin-right: 3rem;
  }
}
#artist .artist-item {
  margin-bottom: 3rem;
}
#artist .artist-item .picture {
  display: block;
  overflow: hidden;
}
#artist .artist-item .picture img {
  height: 32rem;
}
