#artist {
    display: flex;
    flex-direction: column;
    padding-top: @basic-gutter;
    margin-left: @basic-gutter;
    margin-right: @basic-gutter;
    .add-border(top);
    
    .artist-item {
        margin-bottom: @basic-gutter;

        a {
            display: block;

            img {
                width: 100%;
            }
        }
    }
}