
html {
    font-size: 62.5%;
}

body {
    color: @body-font-color;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}


// Links

a {
    color: @link-font-color;
    text-decoration: underline;

    &:hover {
        color: @link-hover-font-color;
    }
}


// Headings 

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1rem;
}