

header {
    border-bottom: 1px solid @color-light-gray;
    margin-bottom: @basic-gutter;

    nav {
        display: flex;
        flex-direction: column;
        a {
            line-height: 6rem;
            text-decoration: none;
            text-align: center;

            &.active {
                font-weight: bold;
            }
        }
    }
}