

header {
    margin-bottom: @basic-gutter;
    .add-border(bottom);

    nav {
        display: flex;
        flex-direction: column;
        a {
            line-height: 6rem;
            text-decoration: none;
            text-align: center;

            &.active {
                font-weight: bold;
            }
        }
    }
}