

// Variables
// ---------------------------------------------------

// Colors

@color-gray: #444444;
@color-light-gray: #dddddd;
@color-blue: #3464eb;


@body-font-color: @color-gray;

@link-font-color: @color-gray;
@link-hover-font-color: @color-blue;

@button-background-color: white;
@button-font-color: @body-font-color;


// Sizes

@basic-gutter: 3rem;
@button-border-radius: 0.5rem;